
   body{
    background-color: rgb(116, 14, 14);
} 

p{
    line-height: 1.7;
}
img{width:400px;
    border 2px solid black}<h2>web design 1</h2>  \
    <p></P>The smell of freshly cut grass means <strong></strong>football. I love lining up on defense, feeling the tension before the play. Exploding forward, disrupting the offense – that's the best feeling. The smack of pads, the roar of the crowd after a big stop – pure energy. Even tough practices build a strong bond with my teammates on the line.
    <P></P>
        <a href=https://www.amazon com>fifa</a>But when spring comes, it's all about the <strong>Track</strong>. The quiet focus before the start, pushing off the blocks, the wind in my face as I sprint. It's just me and the track, pushing for my fastest time. The burn in my legs is worth it when I cross the finish line, knowing I gave it everything. Football with my team, track on my own – both push me hard, and I love them both.
        <img src="img football and track.jpeg" alt="">